@import "tailwindcss";

@theme inline {
  --color-primary: #3f51b5;
  --color-text: #333333;
  --color-text2: #222222;
  --color-text3: #2c2c2c;
  --color-custom-gray: #b4aeae;
  --color-outline-button-border: #9fa8da;
  --color-custom-gray-2: #c4c4c4;
  --color-input-border-color: #b5b5b5;
  --color-auth-input-border-color: #d0d0d0;
  --color-input-divider: #383838;
  --breakpoint-xs: 31.25rem;
  --breakpoint-xxs: 25rem;
  --text-xxs: 0.5rem;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

html {
  font-family: "Montserrat", sans-serif;
}

.swiper-button-disabled {
  opacity: 0.7;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
