#sidebar {
    transition: all 300ms ease-in-out;
    left: -50%;

    @media (max-width: 640px) {
        left: -100%;
    }
}

#adminSidebar {
    transition: all 300ms ease-in-out;
    left: -50%;

    @media (max-width: 768px) {
        left: -100%;
    }
}

#adminSidebar.active {
    left: 0px;
}

#sidebar.active {
    left: 0px;
}

#sidebarOverlay,
#adminOverlay {
    transition: opacity 300ms ease-in-out;
    opacity: 0;
    pointer-events: none;
}
#sidebarOverlay.active,
#adminOverlay.active {
    opacity: 0.5;
    pointer-events: auto;
}
#closeSidebar,
#closeAdminSidebar {
    transform: rotate(0deg);
    transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
}
#closeSidebar:hover,
#closeAdminSidebar:hover {
    transform: rotate(90deg);
    background-color: rgba(255, 255, 255, 0.1);
}
